In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 83.0.4103
[WDM] - Get LATEST driver version for 83.0.4103
[WDM] - Get LATEST driver version for 83.0.4103
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/83.0.4103.39/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\keistlec\.wdm\drivers\chromedriver\win32\83.0.4103.39]

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [5]:
slide_elem.find('div', class_='content_title')

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'NASA Administrator Statement on Moon to Mars Initiative, FY 2021 Budget'

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"Jim Bridenstine addresses NASA's ambitious plans for the coming years, including Mars Sample Return."

### Featured Images

In [8]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [11]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [12]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [13]:
df = pd.read_html('https://mars.nasa.gov/all-about-mars/facts/')[0]
df.columns=['description', 'Earth', 'Mars']
df.set_index('description', inplace=True)
df

,Earth,Mars
description,,
Average Distance from Sun,93 million miles,142 million miles
Average Speed in Orbiting Sun,18.5 miles per second,14.5 miles per second
Diameter,"7,926 miles","4,220 miles"
Tilt of Axis,23.5 degrees,25 degrees
Length of Year,365.25 Days,687 Earth Days
Length of Day,23 hours 56 minutes,24 hours 37 minutes
Gravity,2.66 times that of Mars,0.375 that of Earth
Temperature,Average 57 degrees F,Average -81 degrees F
Atmosphere,"nitrogen, oxygen, argon, others","mostly carbon dioxide, some water vapor"
Number of Moons,1,2

In [14]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Earth</th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Average Distance from Sun</th>\n      <td>93 million miles</td>\n      <td>142 million miles</td>\n    </tr>\n    <tr>\n      <th>Average Speed in Orbiting Sun</th>\n      <td>18.5 miles per second</td>\n      <td>14.5 miles per second</td>\n    </tr>\n    <tr>\n      <th>Diameter</th>\n      <td>7,926 miles</td>\n      <td>4,220 miles</td>\n    </tr>\n    <tr>\n      <th>Tilt of Axis</th>\n      <td>23.5 degrees</td>\n      <td>25 degrees</td>\n    </tr>\n    <tr>\n      <th>Length of Year</th>\n      <td>365.25 Days</td>\n      <td>687 Earth Days</td>\n    </tr>\n    <tr>\n      <th>Length of Day</th>\n      <td>23 hours 56 minutes</td>\n      <td>24 hours 37 minutes</td>\n    </tr>\n    <tr>\n      <th>Gravity</th>\n      <td>2.66 times that of Mars</td>\n      <td>0.375 that of Earth</td>\n    </tr>\n    <tr>\n      <th>Temperature</th>\n      <td>Average 57 degrees F</td>\n      <td>Average -81 degrees F</td>\n    </tr>\n    <tr>\n      <th>Atmosphere</th>\n      <td>nitrogen, oxygen, argon, others</td>\n      <td>mostly carbon dioxide, some water vapor</td>\n    </tr>\n    <tr>\n      <th>Number of Moons</th>\n      <td>1</td>\n      <td>2</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
browser.quit()

In [ ]:
0